[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = ../externals/addons
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = ../externals/locale
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = ../externals/contrib
[submodule "scons"]
	path = scons
	url = ../externals/scons
[submodule "source/tools"]
	path = source/tools
	url = ../externals/blender-dev-tools

