[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = ../externals/addons
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = ../externals/locale
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = ../externals/contrib
